services:
  mob_api:
    image: mob  # docker build -t mob .
    container_name: mob_api
    environment:
      - IS_DOCKER_CONTAINER=true
      - API_CONFIG_PATH=api_config.json
      - DEFAULT_TIMEOUT=30
      - LOG_LEVEL=INFO
    ports:
      - "8000:8000"
    volumes:
      - ./api_config.json:/app/api_config.json
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    env_file:
      - .env
    command: poetry run api

  mob_discord:
    image: mob  # docker build -t mob .
    container_name: mob_discord
    environment:
      - IS_DOCKER_CONTAINER=true
      - API_CONFIG_PATH=api_config.json
      - DEFAULT_TIMEOUT=10
      - LOG_LEVEL=INFO
      - DISCORD_BOT_TOKEN=${DISCORD_BOT_TOKEN}
    volumes:
      - ./api_config.json:/app/api_config.json
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    env_file:
      - .env
    command: poetry run discord
